<div class="dashboard-container">
  
  <div class="hotel-grid-section">
    <h2>Estado de Habitaciones</h2>
    
    <div class="edificio">
      @for (nivel of edificio; track nivel.numeroPiso) {
        <div class="piso-row">
          <div class="piso-label">Piso {{ nivel.numeroPiso }}</div>
          
          <div class="habitaciones-grid">
            @for (hab of nivel.cuartos; track hab.numero) {
              <div class="habitacion-card" 
                [ngClass]="{
                  'disponible': hab.estado === 'DISPONIBLE', 
                  'ocupada': hab.estado === 'OCUPADA',
                  'seleccionada': esSeleccionada(hab)  }"
                (click)="seleccionarHabitacion(hab)">
                <span class="hab-numero">{{ hab.numero }}</span>
                <span class="hab-estado">{{ hab.estado }}</span>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>

  @if (habitacionesReserva.length > 0) {
    <div class="panel-flotante">
      
      <div class="stepper">
        <div class="step" [class.active]="pasoActual === 1">1. Detalles</div>
        <div class="step-line"></div>
        <div class="step" [class.active]="pasoActual === 2">2. Cliente</div>
      </div>

      <div class="header-reserva">
        <h3>Nueva Reserva</h3>
        <button class="btn-cerrar" (click)="cerrarPanel()">✖</button>
      </div>

      @if (pasoActual === 1) {
        <div class="paso-contenido">
          <div class="tabs-habitaciones">
            @for (hab of habitacionesReserva; track hab.numero) {
              <button class="tab-button" 
                [class.active]="habitacionActiva?.numero === hab.numero"
                (click)="setTabActiva(hab)">
                Hab. {{ hab.numero }}
              </button>
            }
          </div>

          @if (habitacionActiva) {
            <div class="detalle-configuracion">
              <p class="info-hab">Configurando: <strong>{{ habitacionActiva.categoria.nombre }}</strong></p>
              
              <div class="form-grid-reserva">
                <div class="campo-reserva">
                  <label>Tipo de Alquiler</label>
                  <select>
                    <option>Por Día</option>
                    <option>Por Horas</option>
                  </select>
                </div>
                <div class="campo-reserva">
                  <label>Cantidad</label>
                  <input type="number" value="1">
                </div>
                <div class="campo-reserva">
                  <label>Precio Unitario</label>
                  <input type="number" [value]="habitacionActiva.categoria.precioBase">
                </div>
              </div>
              <div class="subtotal-hab">
                Subtotal: <strong>S/ {{ habitacionActiva.categoria.precioBase }}.00</strong>
              </div>
            </div>
          }

          <button class="btn-primario" (click)='siguientePaso()'>Continuar al Cliente →</button>
        </div>
      }

      @if (pasoActual === 2) {
        <div class="paso-contenido">
          <button class="btn-regresar" (click)="anteriorPaso()">← Volver a detalles</button>
          <div class="modulo-cliente">
            <app-formulario-cliente></app-formulario-cliente>
          </div>
          <button class="btn-confirmar-final">Finalizar y Crear Registro</button>
        </div>
      }

    </div>
  }

</div>